.upload-my-dragger {
  .upload-text {
    margin-top: 18%;
  }
  .upload-hints {
    margin-bottom: 18%;
  }
}

.upload-recent-tasks-title {
  margin-top: 20px;
  margin-bottom: 20px;
  .upload-clear-history-button {
    float: right;
  }
}
